* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box {
    display: none;
    border-top: 1px solid #36abd9;
    height: 250px;
    width: 100%;
    z-index: 2;
    position: absolute;
    background: #41b6e6;
}
.box.show {
    display: block;
    border-top: 1px solid #36abd9;
    height: 250px;
    width: 100%;
    z-index: 2;
    position: absolute;
    background: #41b6e6;
  }
.bunch {
    display: flex;
    justify-content: center;
    margin-left: -80px;
}

.blackFont {
    color: #001951;
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 26px;
    font-family: Noto Sans CJK KR Medium;
}

.whiteFont, p {
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    margin-bottom: 14px;
    font-family: Noto Sans CJK KR Regular;
}
.tab-item{
    margin-bottom: 5px;
}
.boxes {
    margin-top: 25px;
    margin-left: 40px;
}

.bottomText {
    position: absolute;
    margin-top: -5px;
    margin-left: 430px;
}
.icon-x{
    cursor: pointer;
    float: right;
    margin-right: 25%;
    width: 32px;
    height: 32px;
    margin-top: -15px;
}