*{
    padding: 0;
    margin: 0 auto;
}

.shoppingPizza{
    display: flex;
    flex-direction: column;
}

.shopping{
    display: flex;
    width: 1200px;
    border-bottom: 1px solid rgb(211, 211, 211);
}
 
img{
    margin: 0;
} 

.shopping_pizza_img{
    margin: 30px;
    width: 200px;
    height: 200px;
}

.shopping_pizza{
    width: 380px;
    margin: 50px 30px;
}

.shopping_pizza_name{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.shopping_pizza_size{
    margin-left: -100px;
    display: inline-block;
    padding: 5px;
    background-color: #666666;
    color: white;
    border-radius: 20px;
}

.shopping_option{
    float: left;
    text-align: center;
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 70px;
    background-color: #41B6E6;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.shopping_pizza_cnt{
    margin: 0px;
    display: flex;
    width: 125px;
}

.shopping_pizza_total_cnt{
    line-height: 260px;
}

.shopping_cnt_minus, .shopping_cnt_plus{
    margin-top: 110px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.shopping_cnt_minus{
    background-color: rgb(224, 224, 224);
    font-size: 30px;
    color: white;
}

.shopping_cnt_plus{
    background-color: white;
    border: 1px solid rgb(18, 197, 221);
    font-size: 30px;
    color: rgb(18, 197, 221);
}

.shopping_pizza_menu_price{
    margin: 0;
    width: 125px;
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 40px;
}

.shopping_change{
    margin: 105px 30px;
    text-align: center;
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: #CBCBCB;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.shopping_cancle_btn{
    margin: 115px 50px;
    border: none;
    color:  gray;
    background-color: white;
    cursor: pointer;
}

.total_main{
    margin-top: 100px;
    width: 1200px;
    height: 50px;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}

.total_amount{
    padding-left: 30px;
    padding-right: 850px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(18, 197, 221);
}

.total_sum, .total_won{
    padding-right: 10px;
    font-size: 20px;
    color: rgb(18, 197, 221);
}

.total_price{
    font-size: 30px;
    color: rgb(18, 197, 221);
}