.orderbox{
    justify-content: center;
    align-items: center;
}

.total_order{
    padding: 0;
    margin: 0 auto;
    background-color: #41B6E6;
    color: white;
    width: 400px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
}