.shoppingBasket{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.shoppingTitle{
    height: 150px;
    line-height: 150px;
    font-size: 40px;
}

.bar{
    display: flex;
    border-top: 1px solid lightslategrey;
    border-bottom: 1px solid lightslategrey;
    width: 1200px;
    height: 60px;
}

.bar-menu{
    margin: 0;
    width: 700px;
    text-align: center;
    line-height: 60px;
}

.bar-cnt, .bar-price, .bar-change, .bar-cancle{
    margin: 0;
    width: 125px;
    text-align: center;
    line-height: 60px;
}